@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2016 2017</h1>
    <p class="lead">RAD EXAM</p>
</div>

@if (User.IsInRole("Lecturer") || User.IsInRole("Admin"))
{
    <div class="col-md-4">
        <h2>Add Attendance:</h2>
        @Html.ActionLink("Add Attendance", "Create", "Attendances")

    </div>

}
<div class="row">
        @Html.ActionLink("Students", "Index", "Students")
</div>